:root {
    --bg-color: #FFF;
    --card-color: #F5F7FF;
    --text-primarycolor: #000;
    --text-secondarycolor: #4B6A9B;
    --button-color: #0079FF;
    --button-hover-color: #60ABFF;
}

.darkMode {
    --bg-color: #141D2F;
    --card-color: #1E2A47;
    --text-primarycolor: #FFF;
    --text-secondarycolor: #FFF;
}

body {
    background-color: var(--bg-color);
    color: var(--text-secondarycolor);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

main {
    display: grid;
    place-items: center;
    max-width: 720px;
    margin: 0 auto;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h1 {
    color: var(--text-secondarycolor);
}

input {
    background-color: transparent;
    border: none;
}

input:focus {
    outline: none;
}

input[type="text"] {
    font-size: 1.1rem;
    width: 100%;
    color: var(--text-primarycolor);
}

input[type="text"]::placeholder {
    color: var(--text-primarycolor);
}

.buttonThemeMode {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 15px;
    cursor: pointer;
    background-color: var(--button-color);
}

.buttonThemeMode:hover {
    background-color: var(--button-hover-color);
}

.buttonThemeMode p {
    background-color: transparent;
    border: none;
    color: #FFF;
    letter-spacing: 2.5px;
    font-weight: bold;
    text-transform: uppercase;
}

.buttonThemeMode.dark {
    background-color: transparent;
}

.buttonThemeMode.dark:hover {
    background-color: var(--button-color);
}


button {
    border: none;
    cursor: pointer;
}

.searchButton {
    text-transform: capitalize;
    background-color: #0079ff;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 10px;
    color: #FFF;
    font-weight: bold;
}

.searchButton:hover {
    background-color: #60abff;
}

.inputContainer {
    width: 100%;
    background-color: var(--card-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    gap: 1rem;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.inputContent {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
}


.userCard {
    background-color: var(--card-color);
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    padding: 32px;
    border-radius: 15px;
    margin-top: 2rem;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.userImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.usernameContainer {
    display: flex;
    align-items: center;
}

.name {
    font-size: 26px;
    font-weight: bold;
    color: var(--text-primarycolor);
}

.userJoined {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-primarycolor);
}

.userName {
    color: #0079ff;
    font-weight: 400;
}

.userBio {
    opacity: 0.7;
    font-weight: 400;
    margin-top: 1rem;
}

.userInteractions {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 32px;
    border-radius: 10px;
    margin: 32px 0;
}

.userInteractions div h5 {
    font-weight: 400;
}

.userInteractions div p {
    font-size: 22px;
    font-weight: bold;

}

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

footer div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* CAMBIAR */
    width: 45%;

}